@charset "UTF-8";
body{
	margin: 0;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
	position: fixed;
}

#countdown{
	width:100vw;
	height: 15vh;
	top: 0;
	left: 0;
	padding-top: 1vh;
	background-color: darkorange;
	text-align: center;
	font-size: 6vmin;
	
}
#countdown .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
}

#countdown #b2{
	background-color: crimson;
}

#sidemenu{
	padding-left: 1vw;
	width: 16vw;
	height: 84vh;
	background-color:antiquewhite;
}

#sidemenu button{
	width: 7vw;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
	font-size: 2vmin;
}

#sidebottom{
	width: 17vw; 
    height: 50vh; 
	top: 60vh; 
    left: 0;
    right: 0;
    bottom: 0;
}

.ryan{
	width: 220px;
	height: 340px;
	position: absolute;
	transform: perspective( 1000px );
	transform-style: preserve-3d;
	backface-visibility:hidden;
}


.head .front  { width: 120px; height: 80px; transform: rotateY( 0deg )   translate3d(-150px, 330px, 80px ); }
.head .back   { width: 120px; height: 80px; transform: rotateY( 180deg ) translate3d( 151px, 246px, -2px  ); }
.head .top    { width: 120px; height: 80px; transform: rotateX( 90deg )  translate3d( -234px, 40px, -122px  ); }
.head .bottom { width: 120px; height: 80px; transform: rotateX( -90deg ) translate3d( -150px, -41px, 118px ); }
.head .left   { width: 80px; height: 80px; transform: rotateY( -90deg ) translate3d( 40px, 246px, 195px  ); }
.head .right  { width: 80px; height: 80px; transform: rotateY( 90deg )  translate3d( -40px, 162px, -190px ); }
.head .out  { width: 160px; height: 120px; transform: rotateY( 0deg )  translate3d( -170px, -26px, 45px ); }

.rbody .front  { width: 80px; height: 80px; transform: rotateY( 0deg )   translate3d(-130px, -10px, 80px  ); }
.rbody .back   { width: 80px; height: 80px; transform: rotateY( 180deg ) translate3d( 214px, -10px, -2px   ); }
.rbody .top    { width: 80px; height: 80px; transform: rotateX( 90deg )  translate3d( -130px, 43px, 218px ); }
.rbody .bottom { width: 80px; height: 80px; transform: rotateX( -90deg ) translate3d(-214px, -39px, -140px ); }
.rbody .left   { width: 80px; height: 80px; transform: rotateY( -90deg ) translate3d( 39px, -94px, 169px    ); }
.rbody .right  { width: 80px; height: 80px; transform: rotateY( 90deg )  translate3d( -40px, -94px, -175px ); }

@keyframes turn-head {
 0% { transform: rotateY( 10deg ); }
 100% { transform: rotateY( -10deg ); }
}

#main{
	width: 83vw;
	height: 84vh;
	background-color:powderblue;
	z-index: 2;
}

#overlay {
    position: fixed;
    display: none; 
    width: 17vw; 
    height: 50vh; 
    top: 60vh; 
    left: 0;
    right: 0;
    bottom: 0;
	text-align: center;
    background-color: rgba(255,255,255,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#overlay button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
	cursor: pointer;
}


.animate-me {
  width: 150px;
  height: 206.25px;
}

.animate3{
	animation: spin 1s steps(24);
}

@keyframes spin{
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

#overlay2 {
	padding-left: 35vw;
	padding-top: 20vh;
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    margin: 0;
    height: 100vh; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
	display:flex; justify-content:center; align-items: center; flex-wrap: wrap;
  	perspective: 1000px;
}

#display{
	padding-left: 30vw;
	padding-top: 10vh;
}

#overlay2 button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
	cursor: pointer;
}

#overlay3 {
    position: fixed;
    display: none; 
    width: 82vw; 
    height: 83vh; 
    top: 17vh; 
    left: 18vw;
    right: 0;
    bottom: 0;
	text-align: left;
    background-color: rgba(255,255,255,0); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay3 h1, #overlay3 h2{
	padding-top: 5vh;
	text-align: center;
}

#content {
	padding-left: 25vw;
}

.scene {
	
	width: 300px; height: 500px;
  	position: absolute;
	transform: perspective( 1000px );
	transform-style: preserve-3d;
	user-select: none;
}

.head2 .front  { width: 300px; height: 200px; transform: rotateY( 0deg )   translate3d( 0px, 0px, 100px ); }
.head2 .back   { width: 300px; height: 200px; transform: rotateY( 180deg ) translate3d( 0px, -204px, 98px ); }
.head2 .top    { width: 300px; height: 200px; transform: rotateX( 90deg )  translate3d( 0px, 1px, 914px ); }
.head2 .bottom { width: 300px; height: 200px; transform: rotateX( -90deg ) translate3d( 0px, 0px, -921px  ); }
.head2 .left   { width: 200px; height: 200px; transform: rotateY( -90deg ) translate3d( 1px, -408px, 100px ); }
.head2 .right  { width: 200px; height: 200px; transform: rotateY( 90deg )  translate3d( -1px, -612px, 200px ); }
.head2 .out  { width: 400px; height: 300px; transform: rotateY( 0deg )  translate3d(  -50px, -1278px, 0px ); }

.body2 .front { width: 200px; height: 200px; transform: rotateY( 0deg ) translate3d( 50px, -1330px, 70px ); }
.body2 .back { width: 200px; height: 200px; transform: rotateY( 180deg ) translate3d( -49px, -1534px, 78px ); }
.body2 .bottom { width: 200px; height: 150px; transform: rotateX( -90deg ) translate3d( 50px, 4px, -2021px ); }
.body2 .left { width: 150px; height: 200px; transform: rotateY( -90deg ) translate3d( -3px, -1738px, 25px  ); }
.body2 .right { width: 150px; height: 200px; transform: rotateY( 90deg ) translate3d( 4px, -1942px, 174px ); }

.arm2 .front { width: 50px; height: 100px; transform: rotateY( 0deg ) translate3d( 0px, -2250px, 30px ); }
.arm2 .back { width: 50px; height: 100px; transform: rotateY( 180deg ) translate3d( 54px, -2250px, 18px ); }
.arm2 .top { width: 50px; height: 50px; transform: rotateX( 90deg ) translate3d( -162px, 9px, 2325px ); }
.arm2 .bottom { width: 50px; height: 50px; transform: rotateX( -90deg ) translate3d( -215px, -11px, -2225px ); }
.arm2 .left { width: 50px; height: 100px; transform: rotateY( -90deg ) translate3d( 6px, -2250px, 133px  ); }

.armright2 .front { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( 0deg ) translate3d(  -250px, -2356px, 30px ); }
.armright2 .back { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( 180deg ) translate3d( 195px, -2355px, 11px ); }
.armright2 .top { width: 50px; height: 50px; transform: scaleX( -1 ) rotateX( 90deg ) translate3d( -88px, 4px, 2430px ); }
.armright2 .bottom { width: 50px; height: 50px; transform: scaleX( -1 ) rotateX( -90deg ) translate3d( -34px, -4px, -2333px ); }
.armright2 .left { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( -90deg ) translate3d( 6px, -2356px, 167px ); }

.leg2 .front { width: 50px; height: 100px; transform: rotateY( 0deg ) translate3d( 71px, -2308px, 30px ); }
.leg2 .back { width: 50px; height: 100px; transform: rotateY( 180deg ) translate3d( -16px, -2308px, 18px ); }
.leg2 .right { width: 50px; height: 100px; transform: rotateY( -90deg ) translate3d( 5px, -2308px, 67px ); }
.leg2 .bottom { width: 50px; height: 50px; transform: rotateX( -90deg ) translate3d( -146px, -6px, -2283px ); }
.leg2 .left { width: 50px; height: 100px; transform: rotateY( -90deg ) translate3d( 5px, -2308px, 62px  ); }

.legright2 .front { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( 0deg ) translate3d( -179px, -2413px, 30px ); }
.legright2 .back { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( 180deg ) translate3d( 126px, -2413px, 18px ); }
.legright2 .right { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( -90deg ) translate3d( 5px, -2413px, 41px); }
.legright2 .bottom { width: 50px; height: 50px; transform: scaleX( -1 ) rotateX( -90deg ) translate3d( 37px, -6px, -2388px ); }
.legright2 .left { width: 50px; height: 100px; transform: scaleX( -1 ) rotateY( -90deg ) translate3d( 5px, -2413px, 47px  ); }

.animate {
      animation: 3s turn-head;
    }

@keyframes turn-head {
 0% { transform: rotateY( 0deg ); }
 50% { transform: rotateY( 180deg );}
 60% { transform: rotateY( 180deg );}
 100% { transform: rotateY( 0deg ); }
}

.animate2 {
      animation: 5s turn-side;
    }
@keyframes turn-side {
 0% { transform: rotateY( 0deg ); }
 25% { transform: rotateY( 90deg );}
 50% { transform: rotateY( 180deg );}
 75% { transform: rotateY( 270deg );}
 100% { transform: rotateY( 360deg ); }
}